.header {
  background-color: white
  height: 120px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: white;
  padding: 0px;
  margin: 0px;
  z-index: 10;
  width: 100%;
  top:0px;

}


.header h2 {
  line-height: 1px;
  border-bottom: 2px solid #6091d3;
  padding-bottom: 15px;


}

.asasin {
  display: block;
  float: right;
  height: 80px;
  width: 80px;
}

.back {
  background-color:;
}

.container {
  letter-spacing: 2px;
  width: 730px;
  margin: 0 auto;
  background: white;
  font-family:"ヒラギノ角ゴ Pro W3",メイリオ,Osaka,Arial,Verdana
,"ＭＳ Ｐゴシック",sans-serif;
  background-color: #f5f5f5;
  border-radius: 30px;
  padding: 30px;
  font-size: 15px;

}

.main-title {
padding-top: 30px;
text-align: center;
}

.main-title h1 {
  color: black;
  opacity: 0.8;
}

.main-title p {
  color: white;
  opacity: 0.8;
}

.wonted {
  color: #FF367f;
  margin-bottom: 30px
}
.fa {
  opacity: 0.8;
  font-size: 10px;
  margin-bottom: 40px;
}

.pc {
  width: 400px;
  margin-top: 30px;
  margin-bottom: 45px;
  display: block;
  border-radius: 5px;
}

.main {
background-image: url(img/city-1117433_1280.png);
background-size:330px 250px ;
background-position: 0px 50px;
margin:bottom: 100px;
height: 250px;
padding-top: 0px;
margin-top: 0px;
border-radius: 30px;
}

.main-list p {
  margin-top: 50px;
}

.small  {
  margin-bottom: 70px;
}

.main-list {
      padding: 0.5em 1em;
      margin-bottom: 150px;
      color: #5d627b;
      background: white;
      border-top: solid 5px #5d627b;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
      border-radius: 5px;
}

.main-list p {
  text-align: center;
}

.big {
  font-size: 200%;
  opacity: 0.7;
}

.title {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
    font-size: 20px;

}


.title1 {
  margin-bottom: 100px;
}

.title2 {
  margin-bottom: 100px;
}

.attention {
  margin-bottom: 70px;
  margin-top:50px;
  font-size: 15px;
  font-family:"ヒラギノ角ゴ Pro W3",メイリオ,Osaka,Arial,Verdana
,"ＭＳ Ｐゴシック",sans-serif;
}

.meritt {
  border-bottom: solid 1px black;

}

.meritt-at {
  margin-bottom: 70px;
  font-size: 15px;
  font-family:"ヒラギノ角ゴ Pro W3",メイリオ,Osaka,Arial,Verdana
,"ＭＳ Ｐゴシック",sans-serif;
}

.meritt-end {
margin-top: 200px;
margin-bottom: 100px;
font-size: 15px;
}
.man {
  color:#5D99FF;
  font-size: 150%;
}

.last-meritt {
  margin-bottom: 100px;
  margin-top: 70px;
}


.frame_set{
  text-align: left;

}

.attention1 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 15px;
  font-family:"ヒラギノ角ゴ Pro W3",メイリオ,Osaka,Arial,Verdana
,"ＭＳ Ｐゴシック",sans-serif;
}

.frame_set h3 {
  font-size: 100%;
  padding: 5px;
  margin: 50px 300px 10px 0px;
  color: #fff;
  display: block;
  background: #6091d3;
  border-radius: 5px;
}

ul {
  letter-spacing: 2px;
  line-height: 15px;
  font-size: 15px;
  font-family:"ヒラギノ角ゴ Pro W3",メイリオ,Osaka,Arial,Verdana
,"ＭＳ Ｐゴシック",sans-serif;
}

li {
  line-height: 30px;
  font-size: 15px;
}

.spot {
  margin-bottom: 30px;
}

.title6 {
  margin-top: 100px;
}

.line {
  display: block;
  text-align: center;
}

.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0;
    padding: 0;
}

.foo {
  padding-top: 60px;
  padding-left: 380px;
}
